.works__title {
  margin: 0 0 50px 0;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.clients__title, .team__main-title {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.no-scroll {
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.nav__logo {
  display: inline-block;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .nav__logo {
    margin: 0 87px 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .nav__logo {
    margin: 0 93px 0 0;
    font-size: 26px;
  }
}
.nav__logo > .nav__logo--accent {
  color: #2196F3;
}

/* footer logo */
.footer__logo {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
  }
}
.footer__logo > .footer__logo--accent {
  color: #2196F3;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  border-bottom: 1px solid #ECECEC;
  background-color: #fff;
  z-index: 1;
}
@media (max-width: 767px), (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

body {
  padding: 80px 0 0 0;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #212121;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
  }
}

.features__section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .features__section {
    padding: 94px 0;
  }
}

@media screen and (max-width: 1199px) {
  .works__section {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .works__section {
    padding-bottom: 94px;
  }
}

.team__section {
  margin: 0 auto;
  padding: 60px 0;
  background-color: #F5F4FA;
}
@media screen and (min-width: 1200px) {
  .team__section {
    padding: 94px 0 94px 0;
  }
}

.clients__section {
  margin: 0;
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .clients__section {
    padding: 94px 0;
  }
}

.nav-buttons__section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .nav-buttons__section {
    padding: 94px 0;
  }
}

.hero__title {
  width: 100%;
  margin: 0 0 30px 0;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
  }
}

.features__title {
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .features__title {
    display: block;
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .team__main-title {
    margin: 0 0 50px 0;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin: 0 0 50px 0;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop--hidden .backdrop-modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.backdrop-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 609px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 480px) {
  .backdrop-modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop-modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop-modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 8px 8px;
  padding: 6px 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-modal__button:hover, .backdrop-modal__button:focus {
  fill: #2196F3;
}

.backdrop-modal__icon {
  width: 11px;
  height: 11px;
}

/* form */
.backdrop-form__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backdrop-form__main-title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  width: 370px;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}
@media screen and (min-width: 1200px) {
  .backdrop-form__main-title {
    width: 448px;
  }
}

.backdrop-form__labels + .backdrop-form__labels {
  margin: 10px 0 0 0;
}

.backdrop-form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
}

.backdrop-form__group {
  position: relative;
}

.backdrop-form__input {
  padding: 0 0 0 42px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-family: "Roboto", sans-serif;
  font-size: inherit;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .backdrop-form__input {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop-form__input {
    width: 448px;
    height: 40px;
  }
}
.backdrop-form__input:focus {
  border: 1px solid rgb(33, 150, 243);
}

.backdrop-form__input:focus ~ .input-icon {
  fill: rgb(33, 150, 243);
}

.input-icon {
  position: absolute;
  margin: 0 0 0 10px;
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  width: 12px;
  height: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-form__textarea {
  padding-top: 12px;
  padding-left: 16px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-family: "Roboto", sans-serif;
  font-size: inherit;
  outline: none;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-form__textarea:focus {
  border: 1px solid rgb(33, 150, 243);
}

.backdrop-form__form-check {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop-form__check {
  padding-left: 1.2em;
  margin: 20px 0px 30px 0px;
  font-weight: 400;
  font-size: 12px;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .backdrop-form__check {
    font-size: 14px;
  }
}

.backdrop-form__check-input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.backdrop-form__check-box {
  position: absolute;
  margin-left: -1.5em;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
}

.backdrop-form__check-input:checked + .backdrop-form__check-box {
  /* border-color: #2196F3; */
  border-color: transparent;
  background-color: #2196F3;
  background-image: url(../images/vector.svg);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
}

.backdrop-form__link {
  color: #2196F3;
}

.backdrop-form__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 52px;
  width: 200px;
  height: 50px;
  border-style: none;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #2196F3;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.footer {
  margin: 0 auto;
  padding: 60px 0;
  background-color: #2F303A;
}
@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-contacts {
    align-items: flex-start;
  }
}

/* footer address */
.footer__address {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer__address {
    align-items: flex-start;
  }
}

.address__text {
  margin: 20px 0 0 0;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.address__link {
  margin: 9px 0 0 0;
  text-align: center;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* footer-social */
.footer-social {
  margin: 60px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer-social {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social {
    margin: 0 0 0 70px;
    align-items: flex-start;
  }
}

.footer-social__title {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-social__list {
  margin: 0;
  padding: 0;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 480px) {
  .footer-social__list {
    flex-wrap: nowrap;
  }
}

.footer-social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: #2196F3;
}

.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* footer form */
.footer-form {
  margin: 60px 0 0 0;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin: 0 0 0 93px;
  }
}

.footer-form__forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-form__input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    flex-direction: row;
  }
}

.footer-form__title {
  display: block;
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .footer-form__title {
    text-align: start;
  }
}

.footer-form__inputs {
  width: 100%;
  height: 50px;
  padding: 0 0 0 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
}
@media screen and (min-width: 480px) {
  .footer-form__inputs {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__inputs {
    width: 358px;
  }
}

.footer-form__button {
  width: 100%;
  height: 50px;
  margin: 20px 0 0 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #2196F3;
}
@media screen and (min-width: 480px) {
  .footer-form__button {
    width: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__button {
    margin: 0 0 0 12px;
  }
}

.footer-form__icon {
  width: 24px;
  height: 24px;
  margin: 0 0 0 10px;
}

.hero__outline {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C4C4C4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1200px) {
  .hero__outline {
    max-width: 1600px;
    height: 600px;
  }
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__outline {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-img@2x.jpg);
  }
}

@media screen and (min-width: 489px) {
  .hero__outline {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-img.jpg);
  }
}
@media screen and (min-width: 489px) and (min-device-pixel-ratio: 2), screen and (min-width: 489px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 489px) and (min-resolution: 192dpi), screen and (min-width: 489px) and (min-resolution: 2dppx) {
  .hero__outline {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-img@2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero__outline {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-img.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero__outline {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-img@2x.jpg);
  }
}
.hero__button {
  width: 100%;
  height: 50px;
  border-style: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196F3;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .hero__button {
    width: 216px;
  }
}

.cards__list {
  margin: 0;
  padding: 0;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .cards__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.cards__item {
  width: 450px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .cards__item {
    width: 354px;
    width: calc(100% - 30px)/2;
  }
}
@media screen and (min-width: 1200px) {
  .cards__item {
    width: 370px;
    width: calc(100% - 60px)/3;
  }
}
.cards__item:hover, .cards__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cards__item:hover .overlay, .cards__item:focus .overlay {
  transform: translateY(0);
}

.cards__item + .cards__item {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .cards__item + .cards__item {
    margin-top: 0;
  }
}

.cards__thumb {
  position: relative;
  overflow: hidden;
}

.cards__img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards__content {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}
@media screen and (min-width: 768px) {
  .cards__content {
    height: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .cards__content {
    height: auto;
  }
}

.cards__title {
  margin: 0 0 4px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
}

.clients__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients__item {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .clients__item {
    width: 210px;
    width: calc(100% - 30px)/2;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
    width: calc(100% - 60px)/3;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    width: calc(100% - 90px)/4;
  }
}

.clients__link {
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #AFB1B8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196F3;
  border-color: #2196F3;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.features__list {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    flex-wrap: nowrap;
    align-items: baseline;
  }
}

.features__item {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .features__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
    width: calc(100% - 30px)/2;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
    width: calc(100% - 90px)/4;
  }
}

.features__item + .features__item {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .features__item + .features__item {
    margin-top: 0;
  }
}

.features__background {
  width: 100%;
  height: 120px;
  margin: 0 0 30px 0;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F4FA;
}
@media screen and (min-width: 480px) {
  .features__background {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .features__background {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__background {
    width: 270px;
  }
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__text {
  width: 100%;
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .features__text {
    display: block;
    width: 354px;
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .features__text {
    width: 270px;
  }
}

.nav-buttons__list {
  margin: 0 0 40px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .nav-buttons__list {
    justify-content: center;
    margin: 0 0 30px 0;
  }
}

.nav-buttons__button {
  height: 38px;
  padding: 6px 25px;
  border-style: none;
  border-radius: 4px;
  background-color: #F5F4FA;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-buttons__button:hover, .nav-buttons__button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* nav list */
.nav__list {
  margin: 0;
  padding: 0;
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .nav__item + .nav__item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .nav__link--active {
    position: relative;
    display: block;
    padding: 32px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #212121;
  }
  .nav__link--active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #2196F3;
  }
}

@media screen and (min-width: 768px) {
  .nav__link {
    position: relative;
    display: block;
    padding: 32px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #212121;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link:hover, .nav__link:focus {
    color: #2196F3;
  }
}

/* nav auth */
.nav-auth__list {
  display: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .nav-auth__list {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .nav-auth__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .nav-auth__item {
    margin: 10px 0 0 0;
  }
}

@media screen and (min-width: 1200px) {
  .nav-auth__item + .nav-auth__item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .nav-auth__link {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
  }
}
@media screen and (min-width: 1200px) {
  .nav-auth__link {
    font-size: 14px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-auth__link:hover, .nav-auth__link:focus {
    color: #2196F3;
  }
}

.nav-auth__icon-envelope {
  display: none;
  width: 16px;
  height: 12px;
  margin: 0 10px 0 0;
  padding: 0;
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .nav-auth__icon-envelope {
    display: inline-block;
  }
}

.nav-auth__icon-smartphone {
  display: none;
  width: 10px;
  height: 16px;
  margin: 0 10px 0 0;
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .nav-auth__icon-smartphone {
    display: inline-block;
  }
}

.mob {
  position: fixed;
  top: 0;
  padding: 10px 15px 48px 40px;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .mob {
    display: none;
  }
}
.mob > .mob__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.mob__btn-open {
  padding: 0;
  border: none;
  display: block;
  background-color: transparent;
}
.mob__btn-open:hover, .mob__btn-open:focus {
  fill: #2196F3;
}
@media screen and (min-width: 768px) {
  .mob__btn-open {
    display: none;
  }
}

.mob__btn-close {
  margin-left: auto;
  padding: 0;
  border: none;
  display: block;
  background-color: transparent;
}
.mob__btn-close:hover, .mob__btn-close:focus {
  fill: #2196F3;
}

.mob__list {
  padding: 0;
  margin: 0;
}

.mob__item + .mob__item {
  margin-top: 32px;
}

.mob__link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 0, 8;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #212121;
}
.mob__link:hover, .mob__link:focus {
  color: #2196F3;
}

.mob-auth__list {
  padding: 0;
  margin: 0;
}

.mob-auth__item + .mob-auth__item {
  margin-top: 32px;
}

.mob-auth-mail__link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 0, 8;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-auth-tell__link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 34px;
  line-height: 0, 8;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mob-links {
  margin-top: 64px;
}

.mob-links__list {
  padding: 0;
  margin: 0;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.mob-links__link {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 0, 8;
  letter-spacing: 0.02em;
  color: #2196F3;
}
.mob-links__link::after {
  content: "";
  position: absolute;
  left: 50;
  top: 50%;
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.team__list {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }
}

.team__item {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 480px) {
  .team__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
    width: calc(100% - 30px)/2;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
    width: calc(100% - 90px)/4;
  }
}

.team__item + .team__item {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .team__item + .team__item {
    margin-top: 0;
  }
}

.team__img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team__img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__img {
    width: 270px;
  }
}

.team__discription {
  padding: 30px 0 24px 0;
}
@media screen and (min-width: 1200px) {
  .team__discription {
    padding: 30px 0 30px 0;
  }
}

.team__title {
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.team__text {
  margin: 0 0 16px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-social__list {
  padding: 0;
  margin: 0;
  gap: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .team-social__list {
    flex-wrap: nowrap;
  }
}

.team-social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #AFB1B8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social__link:hover, .team-social__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.team-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.works__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.works__item {
  position: relative;
}

.works__link {
  display: block;
}

.works__item + .works__item {
  margin-left: 30px;
}

.works-discription {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
}

.works-discription__text {
  margin: 0;
}/*# sourceMappingURL=main.css.map */