$bgc: #fff;
$second-bgc: #2F303A;
$third-bgc: #2196F3;
$fourth-bgc: #F5F4FA;
$fifth-bgc: #F5F5F5;

$tc: #212121;
$second-tc: #757575;
$third-tc: #2196F3;
$fourth-tc: #FFFFFF;
$fifth-tc: rgba(255, 255, 255, 0.6);

$hero-overlay: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4));

$logo-font: 'Raleway';
$main-font: 'Roboto', sans-serif;